version: 2

updates:
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "FSharp.Core"
        update-types: [ "version-update:semver-minor", "version-update:semver-patch" ]