trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/otsom.fs.Extensions.DependencyInjection/*

pr:
  branches:
    include:
      - main
  paths:
    include:
      - src/otsom.fs.Extensions.DependencyInjection/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  revision: $[counter(variables['minor'], 1)] # This will get reset every time minor gets bumped.
  version: '$(major).$(minor).$(revision)'
  BuildConfiguration: 'Release'

steps:
  - task: UseDotNet@2
    inputs:
      version: '8.x'
  - task: DotNetCoreCLI@2
    displayName: "Install Fantomas tool"
    inputs:
      command: 'custom'
      custom: 'tool'
      arguments: 'install -g fantomas'
  - task: Bash@3
    displayName: "Run Fantomas check"
    inputs:
      targetType: 'inline'
      script: |
        fantomas "src/otsom.fs.Extensions.DependencyInjection" --check
  - task: DotNetCoreCLI@2
    name: Restore
    inputs:
      command: 'restore'
      projects: 'src/otsom.fs.Extensions.DependencyInjection/*.fsproj'
  - task: DotNetCoreCLI@2
    name: Build
    inputs:
      command: 'build'
      projects: 'src/otsom.fs.Extensions.DependencyInjection/*.fsproj'
      arguments: '-c $(BuildConfiguration)'
  - task: DotNetCoreCLI@2
    name: Pack
    inputs:
      command: 'pack'
      packagesToPack: 'src/otsom.fs.Extensions.DependencyInjection/otsom.fs.Extensions.DependencyInjection.fsproj'
      nobuild: true
      versionEnvVar: 'version'
      versioningScheme: 'byEnvVar'
  - task: PublishPipelineArtifact@1
    name: Publish
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)'